{% extends 'base.html.twig' %}

{% block title %}New Lignefraishorsforfait{% endblock %}

{% block body %}
    <h1>Create new Lignefraishorsforfait</h1>

    {{ include('lignefraishorsforfait/_form.html.twig') }}

    <a href="{{ path('lignefraishorsforfait_index') }}">Retour vers la liste</a>
{% endblock %}
