{% extends 'base.html.twig' %}

{% block title %}New Fichefrais{% endblock %}

{% block body %}
    <h1>Créer une nouvelle fiche de frais</h1>

    {{ include('fichefrais/_form.html.twig') }}

    <a href="{{ path('fichefrais_index') }}">Retour vers la liste</a>
{% endblock %}
