{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block head %}
    {% block stylesheets %}
        <link href="{{ asset('/css/styles.css') }}" rel="stylesheet" />
    {% endblock %}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    .form{
        display: flex;
        flex-direction:column;
        width:min-content;
    }
</style>

<div class="example-wrapper" style="display:flex; flex-direction: column; align-items:center">

    <img src="{{asset('/img/logo.png')}}" height=150em style="margin-bottom: 2em" />

    <div style="border: 2.5px solid #000b; padding: 0 4em 1em 4em; border-radius: 0.2em">
    
        <form action="/connexion" method="POST" class="form" name="formulaireConnexion">
            <h1>Connexion</h1>
            <label>login</label>
            <input name="login" />
            <label>Mot de passe</label>
            <input name="mdp" type="password" />
            <button class="greenBG" style="margin-top:0.5em">Se connecter</button>
        </form>
    </div>


    {% set lienPage = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

    {% if lienPage == '/connexion/echec' %}
        {%set styleErreur = 'color:red; border-radius:5%; text-align:center'%}
        <p style={{styleErreur}}>L'indentifiant ou le mot de passe est incorrect.</p>
    {% endif %}


</div>
{% endblock %}
