{% extends 'base.html.twig' %}

{% block title %}Modifier Visiteur{% endblock %}

{% block body %}
    <h1>Modifier Visiteur</h1>

    {{ include('visiteur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('visiteur_index') }}">Retour vers la liste</a>

    {{ include('visiteur/_delete_form.html.twig') }}
{% endblock %}
