{% extends 'base.html.twig' %}

{% block title %}Créer Visiteur{% endblock %}

{% block body %}
    <h1>Créer un nouveau Visiteur</h1>

    {{ include('visiteur/_form.html.twig') }}

    <a href="{{ path('visiteur_index') }}">Retour vers la liste</a>
{% endblock %}
