{% extends 'base.html.twig' %}

{% block title %}Edit Fraisforfait{% endblock %}

{% block body %}
    <h1>Edit Fraisforfait</h1>

    {{ include('fraisforfait/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('fraisforfait_index') }}">back to list</a>

    {{ include('fraisforfait/_delete_form.html.twig') }}
{% endblock %}
